.login-container {
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    
  }
  
  .login-form {
    background: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  .login-form h2 {
    color: #333;
  }
  
